.posisi{
    margin-left: 740px;   
}
.box{
    height: 200px;
}
.text1{
    padding-top: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.teks2{
    opacity: 32%;
 }
.box1{
    justify-content: left;
    height: 350px;
}
.box2{
    height: 20px;
}
.box3{
    height: 300px;
}
.box4{
    height: 100px;
}
.box6{
    height: 30px;
}

  